
.searchbar{
    display: flex;
    flex-direction: row;
}
.searchbar h3{
    font-size: 20px;
    margin: 20px 10px;
}
.searchbar img{
    height: 35px;
    width: 35px;
    margin: 15px;
}
.collection{
    background-color: #2E2E2E;
    width: 100%;
}
.list{
    height: 100%;
    padding: 5%;
}
ul{
    padding: 0;
    width: 100%;
}

li{
    margin: 10px 0;
}